html {
    font-family: Roboto, Arial, Helvetica, sans-serif
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.profile {
    border-radius: 2rem;
    max-width: 4rem;
    height: 100%;
}

.topimage {
    border-radius: 2rem;
    max-height: 18em;
}


.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.top-content2 {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
    gap: 2rem;
}

.bigtext {
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    margin-bottom: 1rem;    
}

.smalltext {
    margin-bottom: 1rem;
}

.topbutton {
    background: #3882F6;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    min-width: 7rem;
    color: white;
}

.subtop3 {
    background: white;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;    
    justify-content: center;
    padding: 0.5rem;   
    margin-bottom: 2rem;
}

.top-content3 {
    background: white;
    font-style: italic;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    padding: 3rem;
    height: 15rem;
    gap: 3rem;
    
}

.top-content3-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.sucess {
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 0.7rem;
    border: 1rem solid #3882F6;
    border-width: 0.25rem;
    margin: 0;
    padding: 0;
    background: white;
    background-repeat:no-repeat;
}

.bottom-content-1 {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 8rem;  
   
}

.subbottom1 {
    font-size: 2.2rem;
    font-weight:100;
    font-style: italic;
    color:  #1f293794;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
}

.subbottom2 {
    font-size: 1rem;
    font-weight: bold;
    align-self: flex-end;
}

.footer {
    margin: 3rem 10rem;
    padding: 4rem;
    max-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #3882F6;
    border-radius: 0.5rem;
  
}

.subfooter1 {
    padding: 3rem;
    margin: 0;
}

.subfooter2 {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.subfooter3 {
    color: white;
    font-size: 1rem;
}

.footerbutton {
    background: #3882F6;
    border-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    min-width: 7rem;
    color: white;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
}

.bigfoot {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #1F2937;
    padding: 1rem;
}


