html {
    font-family: Roboto, Arial, Helvetica, sans-serif
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.top-content2 {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
}

.bigtext {
    font-size: 48px;
    font-weight: bolder;
    display: flex;
}

.topbutton {
    background: rebeccapurple;
    border: none;
    border-radius: 0.5rem;
}

.subtop3 {
    background: white;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;    
    justify-content: center;
    padding: 0.5rem;   
}

.top-content3 {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 10rem;
    gap: 4rem;
    
}

.top-content3-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.subtop3-card {
    padding: 1rem;
}

.magicblue {
    border-radius: 0.7rem;
    border-color: #3882F6;
    border-width: 0.25rem;
    width: auto;
    background: white;
    padding: 2rem;
}

.bottom-content-1 {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 8rem;  
}

.subbottom1 {
    font-size: 2.2rem;
    font-weight:100;
    font-style: italic;
    color:  #1f293794;
    margin: 0;
    padding: 0;
}

.subbottom2 {
    font-size: 1rem;
    font-weight: bold;
    align-self: flex-end;
}

.footer {
    margin: 3rem 10rem;
    padding: 2.5rem;
    max-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #3882F6;
    border-radius: 0.5rem
}

.subfooter1 {
    padding: 5rem;
    margin: 0;
}

.subfooter2 {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.subfooter3 {
    color: white;
    font-size: 1rem;

}

.footerbutton {
    background: #3882F6;
    border-radius: 0.5rem;
    border-color: white;
    border-width: 0.13rem;
    align-self: center;
    color: white;
    font-size: 1rem;
}

.bigfoot {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #1F2937;
    padding: 1rem;
}


